.roomPannel {
    display: flex;
    flex-direction: column;
} 

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
    padding: 0;
    list-style: none; 
}