@value makerBlack, makerWhite, makerLightGreen, makerBoldGreen from '../../../../common/colors.css';

.roomPannel {
    display: flex;
    flex-direction: column;
} 

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
    padding: 0;
    list-style: none; 
}

.title {
    color: makerWhite;
    font-size: 0.8em;
}

.cnt {
    color: makerLightGreen;
    margin-left: 0.5em;
    font-size: 0.3em;
}